!!! 5
html
  header
    script(src='/socket.io/socket.io.js')
    script
      var socket = io.connect('http://178.239.177.17');
      socket.on('clock', function (data) {
        document.getElementById('img').src=data.r;
      });
  body(style='background-color:#ffff')
    block content